.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.app__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 720px) {
  .app__inner {
    flex-direction: column-reverse;
    margin-top: 20px;
  }
}

.box {
  background-color: var(--main-color);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 5px var(--shadow-color);
}

.create-box {
  margin: 0 50px 0 0;
}

@media(max-width: 720px) {
  .create-box {
    margin: 20px 0;
  }
}

.create-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.main-table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: center;
}

.create-form__fild {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.search-panel {
  margin-bottom: 30px;
}

.inp {
  border: 1px solid var(--main-color);
  border-radius: 3px;
  outline: none;
  padding-left: 3px;
}

.create-form__fild label {
  margin: 2px 0;
}

.task {
  border-top: 1px solid var(--dark-color);
}

.placeholder {
  min-width: 300px;
}

.placeholder p {
  text-align: center;
}

.filter-label {
  margin-right: 5px;
}

.row-sm {
  min-width: 60px;
}

.row-md {
  min-width: 120px;
}

.sm {
  max-width: 30px;
}

.md {
  max-width: 80px;
}

.lg {
  max-width: 130px;
}

.up {
  transform: rotate(90deg)
}

.down {
  transform: rotate(-90deg)
}

.btn-table {
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 7px;
  border-radius: 13px;
  margin: 0;
}
