.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.task-table {
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 5px var(--shadow-color);
}