* {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #c5c4c4a6;
  --dark-color: #29434e;
  --warn-color: #d32f2f;
  --acces-color: #00c853;
  --shadow-color: #0000006c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

